@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <form method="post" action="/Designer/Structure/Index">
            <button type="submit" class="btn-primary">Go to Data-Design</button>
        </form>
    </div>
