@model Presentation.ViewModels.DCAppDataChoiceItemViewModel

@inject Presentation.Services.IDataDefinitionService DataDefinitionService;

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input name="Id" id="Id" value="@Model.Id" disabled />
                <span class="e-float-line"></span>
                <label class="e-float-text e-label-top">Choice Id</label>
            </div>
        </div>

    </div>

<div class="form-row">
    <div class="form-group col-md-12">
        <div class="e-float-input e-control-wrapper">
            <input name="ChoiceGroup" id="ChoiceGroup" value="@Model.ChoiceGroup" />
            <span class="e-float-line"></span>
            <label class="e-float-text e-label-top">Choice Group</label>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12">
        <div class="e-float-input e-control-wrapper">
            <input name="Name" id="Name" value="@Model.Name" />
            <span class="e-float-line"></span>
            <label class="e-float-text e-label-top">Choice Value</label>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>
