@using Domain.FormEntities
@model DataGridComponentWithData

<link href="http://formio.github.io/formio.js/app/syntax.css" rel="stylesheet" asp-append-version="true">
<link href="http://formio.github.io/formio.js/app/main.css" rel="stylesheet" asp-append-version="true">
<link href="http://formio.github.io/formio.js/app/fontawesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
<link href="http://formio.github.io/formio.js/app/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">

<link href="http://formio.github.io/formio.js/app/bootswatch/yeti/bootstrap.min.css" rel="stylesheet" asp-append-version="true">

<link href="http://formio.github.io/formio.js/dist/formio.full.min.css" rel="stylesheet" asp-append-version="true">
<script src="http://formio.github.io/formio.js/app/jquery/jquery.slim.min.js" asp-append-version="true"></script>
<script src="http://formio.github.io/formio.js/app/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="http://formio.github.io/formio.js/dist/formio.full.min.js" asp-append-version="true"></script>
<script type="text/javascript">Formio.icons = 'fontawesome';</script>
<script type="text/javascript">Formio.setUser(null);</script>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="builder"></div>

<script type='text/javascript'>
        window.onload = function () {
            Formio.icons = 'fontawesome';
            alert("rendering: " + @Html.Raw(Json.Serialize(Model.data)));

            Formio.createForm(document.getElementById('builder'), @Html.Raw(Json.Serialize(Model.components))).then(function (form) {
                form.submission = @Html.Raw(Json.Serialize(Model.data));
                form.on('submit', function (submission) {
                    console.log(submission);

                    return $.ajax({
                        type: 'POST',
                        url: '/Json/Renderer',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(submission.data),
                        success: function (result) {
                            console.log("From server:" + JSON.stringify(result));
                            $('#info').html(JSON.stringify(result));
                        }
                    });
                });
                });
        }
</script>