@using Presentation.ViewModels
@model DCAppStructureListViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout.cshtml";
}

<p>This is the homepage content with dashboard of structures</p>